<template>

    <div class="slds-card slds-p-around_medium">
        <div class="slds-text-heading_large">Toggle Form</div>
        <p class="slds-p-top_small">An example of using events to toggle simple active/inactive UI state.</p>
        <div class="slds-p-top_medium">
            <div if:true={active}>Active</div>
            <div if:false={active}>Not Active</div>
        </div>
        <div class="slds-p-top_medium"><button class="slds-button slds-button_neutral" onclick={handleClick}>Click</button></div>
    </div>
</template>