<!--
 - Created by Scott McClung on 10/2/20.
 -->

<!-- Lead Form -->
<template>
    <div class="slds-card slds-p-around_medium slds-is-relative">
        <div class="slds-text-heading_large">Submit Lead Form</div>
        <p class="slds-p-top_small">An example of managing a form through multiple UI states using events rather than trying to toggle boolean variables</p>
        <div if:true={isBusy}>
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
        <lightning-record-edit-form class="slds-p-top_medium" object-api-name="Lead" onsubmit={handleEvent} onsuccess={handleEvent}
                                    onerror={handleEvent}>
            <lightning-messages></lightning-messages>
            <lightning-input-field field-name="FirstName" onchange={handleEvent}>
            </lightning-input-field>
            <lightning-input-field field-name="LastName" onchange={handleEvent}>
            </lightning-input-field>
            <lightning-input-field field-name="Email" onchange={handleEvent}>
            </lightning-input-field>
            <lightning-input-field field-name="Company" onchange={handleEvent}>
            </lightning-input-field>
                <lightning-button
                        class="slds-m-top_small"
                        variant="brand"
                        type="submit"
                        name="submit"
                        label="Submit"
                        disabled={isNotDirty}
                ></lightning-button>
        </lightning-record-edit-form>
    </div>
</template>